.ds{
    background-image: url("1.jpeg");
 width: 100%;
 padding-bottom: 300px; padding-top: 100px;  
 margin-top: 0px;
}
.seven {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
  .ss{
    background-image: url("24.jpeg");
 width: 100%;
 padding-bottom: 300px; padding-top: 100px;  
 margin-top: 0px;
}